  <!-- footer starts -->
    <div class="container">
      <footer class="footer bs-footer">
      <div class="row">
        <div class="col-lg-4">
          Last updated {{ page.date }}
        </div>
        <div class="col-lg-4">
              Copyright &copy; 2010 - 2014 <a href="http://www.ushahidi.com">Ushahidi.com</a>
        </div>
        <div class="col-lg-4">
          <p class="pull-right">
             <span class="smssync">SMSsync</span><span>&nbsp;</span>  powered by <a href="http://www.ushahidi.com"><img src="{{urls.media}}/ushahidi-logo.png"><span>Ushahidi</span></a>
          </p>
        </div>
      </div>
    </footer>
    </div>
  <!-- footer ends -->
    {{{ widgets.google_prettify }}}
    {{{ widgets.analytics }}}
  </body>
</html>