<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{data.title }} - {{page.title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  {{# data.description }}
    <meta name="description" content="{{ . }}">
  {{/ data.description }}
    <meta name="author" content="{{ data.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{# stylesheets.load }}
      //netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css
      //netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css
      http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.css
      styles.css
      google_prettify/sons-of-obsidian.css
      http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic
      http://fonts.googleapis.com/css?family=Racing+Sans+One
    {{/ stylesheets.load }}
    <!-- Le fav and touch icons -->
      <link rel="shortcut icon" href="{{urls.media}}/favicon.ico" type="image/x-icon">
      <link rel="icon" href="{{urls.media}}/favicon.ico" type="image/x-icon">
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    {{# javascripts.load }}
      https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js
      //netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js
      http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js
    {{/ javascripts.load }}
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <a href="https://github.com/ushahidi/SMSSync"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo">
            <a class="navbar-brand" href="{{urls.base_path}}">{{ data.title }}</a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <nav class="navbar-collapse collapse" role="navigation">
              <ul class="nav navbar-nav">
                  {{#data.navigation?to__root }}
                    <li class=" {{#is_active_page}}active{{/is_active_page}}">
                      <a href="{{url}}">{{title}}</a>
                  </li>
                  {{/data.navigation?to__root }}
                    <li>
                      <a href="https://forums.ushahidi.com/category/smssync">Support</a>
                    </li>
              </ul>
          </nav><!-- navbar-header -->
        </div><!-- navbar-header -->
      </div>  <!-- container -->
    </div> <!-- close navbar -->