*.swp
bin
gen
local.properties
secure.properties
*.iml
*.ipr
*.iws
*.swp
.rvmrc
.idea
*.DS_Store
target
out
proguard.cfg
proguard-project.txt
build/
.gradle
gradle-app.setting
gradle.properties
Gemfile.lock
*~
public
.sass-cache
website-src/public
