<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.addhen.smssync" android:versionCode="7"
	android:versionName="1.0.6">
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".MainApplication">
		<service android:name=".services.SmsReceiverService" />
		<service android:name=".services.AutoSyncService" />
		<service android:name=".services.AutoSyncScheduledService" />
		<service android:name=".services.CheckTaskScheduledService" />
		<service android:name=".services.CheckTaskService" />
		
		<activity android:launchMode="singleTop" android:name=".Settings"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>

		<!-- outbox -->
		<activity android:configChanges="orientation|keyboardHidden"
			android:name=".PendingMessagesActivity" android:label="@string/app_name"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER"
					android:label="@string/app_name" />
			</intent-filter>
		</activity>
        
		<!-- sms -->
		<receiver android:name=".receivers.SmsReceiver">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>

		<!-- connectivity changed -->
		<receiver android:name=".receivers.ConnectivityChangedReceiver"
			enabled="false">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>

		<!-- power changed -->
		<receiver android:name=".receivers.PowerStateChangedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_BATTERY_LOW" />
				<action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
			</intent-filter>
		</receiver>

		<!-- boot -->
		<receiver android:name=".receivers.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<!-- task check scheduled -->
		<receiver android:name=".receivers.CheckTaskScheduledReceiver" />

		<!-- task check scheduled -->
		<receiver android:name=".receivers.AutoSyncScheduledReceiver" />

		<!-- app widget provider -->
		<receiver android:name=".widget.SmsSyncAppWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/appwidget_info" />
		</receiver>
	   <service android:name=".widget.SmsSyncAppWidgetProvider$SmsSyncAppWidgetService"/>
	</application>
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11" />
</manifest>  