* {margin: 0; padding: 0;}
body { 
    color: #222	
    line-height:22px; 
    letter-spacing:.1;
    font-size: 14px;
    font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color:#F9F9F9;	
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

#logo a {
    font-family: 'Racing Sans One', cursive;
    text-indent:35px;
    background:transparent url(../images/logo.png) no-repeat 20px 9px;
    display:block;
    color:#fff;
    outline:none;
}

.smssync {
    font-family: 'Racing Sans One', cursive;
}

strong, em {
    color:#009900;
}

.navbar .brand {
   
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.pull-right {
    float:right;
    font-size: 70%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 20px 0 0;
}

label.error {
    float: right;
    font-size:10px; 
    padding:5px 9px 6px 25px; 
    margin-left:5px;
    border:1px solid #cbcba2; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
}

.footer .container {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}