* {margin: 0; padding: 0;}
body { color: #333;	text-align: left; font: 80%/1.2  "Segoe UI","Lucida Grande", "Lucida Sans", "Trebuchet MS", Tahoma, Verdana, sans-serif; background: #fff;	}

#logo h3{
    float:left;
}

#logo a {
    text-indent:30px;
    background:transparent url(../images/logo.png) no-repeat 20px 9px;
    display:block;
    width:140px;
    font-weight:bold;
    color:#fff;
    margin-right:5px;
    outline:none;
}

.pull-right {
    float:right;
}
