<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2010 - 2015 Ushahidi Inc
  ~ All rights reserved
  ~ Contact: team@ushahidi.com
  ~ Website: http://www.ushahidi.com
  ~ GNU Lesser General Public License Usage
  ~ This file may be used under the terms of the GNU Lesser
  ~ General Public License version 3 as published by the Free Software
  ~ Foundation and appearing in the file LICENSE.LGPL included in the
  ~ packaging of this file. Please review the following information to
  ~ ensure the GNU Lesser General Public License version 3 requirements
  ~ will be met: http://www.gnu.org/licenses/lgpl.html.
  ~
  ~ If you have questions regarding the use of this file, please contact
  ~ Ushahidi developers at team@ushahidi.com.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.addhen.smssync">
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Account manager permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <application
            android:name=".presentation.App"
            android:icon="@drawable/ic_launcher"
            android:installLocation="auto"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:replace="android:theme">
        <!-- messages tab -->
        <activity
                android:name=".presentation.view.ui.activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:launchMode="singleTask"
                android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/message_searchable"/>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.GettingStartedActivity"
                android:label="@string/getting_started"
                android:exported="false"
                android:launchMode="singleTask"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.OauthActivity"
                android:theme="@style/AppTheme"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.SettingsActivity"
                android:label="@string/action_settings"
                android:exported="false"
                android:launchMode="singleTask"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.MainActivity"/>
        </activity>

        <activity
                android:name=".presentation.view.ui.activity.TwitterProfileActivity"
                android:label="@string/twitter"
                android:exported="false"
                android:launchMode="singleTask"
                android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.AddPhoneNumberActivity"
                android:label="@string/add_phone_numbers"
                android:exported="false"
                android:launchMode="singleTask"
                android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.AddKeywordsActivity"
                android:label="@string/add_keyword"
                android:exported="false"
                android:launchMode="singleTask"
                android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.MainActivity"/>
        </activity>

        <activity
                android:name=".presentation.view.ui.activity.AddTwitterKeywordsActivity"
                android:label="@string/add_keyword"
                android:exported="false"
                android:launchMode="singleTask"
                android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.ListWebServiceActivity"
                android:label="@string/manage_custom_web_services"
                android:exported="false"
                android:launchMode="singleTask"
                android:parentActivityName=".presentation.view.ui.activity.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.AddWebServiceActivity"
                android:label="@string/add_web_service"
                android:exported="false"
                android:windowSoftInputMode="stateVisible|adjustResize"
                android:parentActivityName=".presentation.view.ui.activity.ListWebServiceActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.ListWebServiceActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.UpdateWebServiceActivity"
                android:label="@string/update_web_service"
                android:exported="false"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateVisible|adjustResize"
                android:parentActivityName=".presentation.view.ui.activity.ListWebServiceActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.ListWebServiceActivity"/>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.QrcodeReaderActivity"
                android:label="@string/scan_qr_code">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.view.ui.activity.AutomationSettingsActivity"
                android:label="@string/action_settings"
                android:exported="false"
                android:launchMode="singleTask"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".presentation.view.ui.activity.SettingsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.view.ui.activity.SettingsActivity"/>
        </activity>
        <!-- Services -->
        <service android:name="org.addhen.smssync.presentation.service.SmsReceiverService"/>
        <service android:name="org.addhen.smssync.presentation.service.AutoSyncScheduledService"/>
        <service android:name="org.addhen.smssync.presentation.service.CheckTaskService"/>
        <service android:name="org.addhen.smssync.presentation.service.SyncPendingMessagesService"/>
        <service android:name="org.addhen.smssync.presentation.service.MessageResultsService"/>
        <service android:name="org.addhen.smssync.presentation.service.DeleteMessageService"/>
        <service android:name="org.addhen.smssync.presentation.service.UpdateMessageService"/>

        <!-- Receivers -->
        <!-- Receiver for sms sent code -->
        <receiver android:name="org.addhen.smssync.presentation.receiver.SmsSentReceiver">
            <intent-filter>
                <action android:name="SMS_SENT"/>
            </intent-filter>
        </receiver>

        <!-- Receiver for sms delivered code -->
        <receiver android:name="org.addhen.smssync.presentation.receiver.SmsDeliveredReceiver">
            <intent-filter>
                <action android:name="SMS_DELIVERED"/>
            </intent-filter>
        </receiver>

        <!-- Receiver for pre kitkat. This is disabled when it's kitkat and above -->
        <receiver
                android:name="org.addhen.smssync.presentation.receiver.SmsReceiver"
                android:enabled="@bool/is_pre_kitkat">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <!-- Receiver for kitkat. This is disabled when it's pre-kitkat releases -->
        <receiver
                android:name="org.addhen.smssync.presentation.receiver.SmsReceiverKitKat"
                android:enabled="@bool/is_kitkat"
                android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
            </intent-filter>
        </receiver>

        <!-- Add these to allow SMSSync to be set as default SMS app on Android 4.4+ -->
        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
                android:name=".MmsReceiver"
                android:enabled="@bool/is_kitkat"
                android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>
                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>

        <!-- Android 4.4+ (kitkat) SMS support
             I think this refers to an external Activity, although it may just be that it doesn't work currently.
             Activity that allows the user to send new SMS/MMS messages -->
        <activity android:name=".ComposeSmsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SENDTO"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </activity>

        <!-- Android 4.4+ (kitkat) SMS support
             I think this refers to an external Service, although it may just be that it doesn't work currently.
             Service that delivers messages from the phone "quick response" -->
        <service
                android:name=".HeadlessSmsSendService"
                android:exported="true"
                android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </service>
        <!-- End Android 4.4+ support-->

        <!-- connectivity changed -->
        <receiver
                android:name="org.addhen.smssync.presentation.receiver.ConnectivityChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- power changed -->
        <receiver android:name="org.addhen.smssync.presentation.receiver.PowerStateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW"/>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
            </intent-filter>
        </receiver>

        <!-- boot -->
        <receiver android:name="org.addhen.smssync.presentation.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>

        <!-- task check scheduled -->
        <receiver
                android:name="org.addhen.smssync.presentation.receiver.CheckTaskScheduledReceiver"/>

        <!-- auto sync scheduled -->
        <receiver
                android:name="org.addhen.smssync.presentation.receiver.AutoSyncScheduledReceiver"/>

        <!-- message delivery scheduled -->
        <receiver
                android:name="org.addhen.smssync.presentation.receiver.MessageResultsScheduledReceiver"/>
    </application>
</manifest>
