{{ partial "header-media-links.html" . }}
<title>{{ .Site.Title }} - Home</title>
{{ partial "header.html" . }}
{{ partial "menu.html" . }}
{{ $urls := .Site.Data.media.urls }}
<!-- header starts -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <br/><br/>
            <h4>The free and open source SMS gateway for Android</h4>

            <p>It's one of the <strong><em>best</em></strong> SMS gateways for Android

            <p>The app is available today on the Android market. You can download it on your phone
                by scanning the QR code below.</p>

            <div class="thumbnails">
                <img class="thumbnail" width="150"
                     src="http://qr.kaywa.com/?s=8&d=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dorg.addhen.smssync"
                     alt="Scan to download SMSSync" title="Scan to download SMSSync"/>
            </div>
        </div>
        <div class="col-lg-2">
            <br/><br/>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{$urls.images}}/promo/filters-screen.png" alt="Filter Screen"
                             title="Filter Screen">
                    </div>
                    <div class="item">
                        <img src="{{$urls.images}}/promo/logs.png" alt="logs"
                             title="Log Messages"/>
                    </div>
                    <div class="item">
                        <img src="{{$urls.images}}/promo/navigation-drawer-support.png"
                             alt="navigation"
                             title="Navigation Drawer Support"/>
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#cmyCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- body starts -->
<div class="container">
    <!-- About SMSsync -->
    <section id="about">
        <div class="row"><!--start row-->
            <div class="col-lg-4">
                <h3>What is it?</h3>

                <p>
                    SMSsync is a simple, yet powerful SMS to HTTP sync utility that turns any
                    Android
                    phone into a local SMS gateway by sending incoming messages(SMS) to a configured
                    URL
                    (web service).
                </p>
            </div>
            <div class="col-lg-4">
                <h3>License</h3>

                <p>
                    SMSsync is licensed under <a
                        href="http://www.gnu.org/licenses/lgpl-3.0.txt">LGPL</a>
                    (GNU Lesser General Public License, v.3). To read details about the
                    LGPL <a href="https://github.com/ushahidi/SMSsync/blob/master/LICENSE">click
                    here.</a>
                </p>

                <h3>Contributing</h3>

                <p>
                    For your contribution to be accepted into the project, you must sign the <a
                        href="https://docs.google.com/forms/d/15LyeKTOP36T5u3290o4hsmqv79v-m_s2QSmgMJXpYp8/viewform">Individual
                    Contributor License Agreement (CLA)</a> You can read more about it there
                    [here][6]
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Participation</h3>

                <p>There are a variety of ways to actively participate in the project. These range
                    from
                    writing documentation for the project to translating the app into other
                    languages.
                    If you are a developer and want to help write code for the project, feel free to
                    browse through our <a href="https://github.com/ushahidi/SMSsync/issues/">issue
                        tracker</a> on github.</p>

                <p><strong>Note</strong> for your contribution to be accepted into the project, you
                    must
                    sign the <a
                            href="https://docs.google.com/forms/d/15LyeKTOP36T5u3290o4hsmqv79v-m_s2QSmgMJXpYp8/viewform">Individual
                        Contributor License Agreement (CLA)</a> You can read more about it there <a
                            href="https://wiki.ushahidi.com/display/WIKI/Licenses">here</a>
                </p>
            </div>
        </div>
        <!--end row-->
    </section>
    <section id="project-status">
        <div class="row"><!--start row-->
            <div class="col-lg-4">
                <h3>Release Status</h3>

                <p>
                    <strong>Public release:</strong>

                <div id="latest-header">
                    [[#latest]]
                    <ul>
                        <li>Released [[date]]</li>
                        <li>Version <a href="https://github.com/ushahidi/SMSsync/tree/[[version]]">[[version]]</a>
                        </li>
                    </ul>
                    [[/latest]]
                </div>
                <strong>Master branch:</strong>
                <ul>
                    <li>
                        <a href="https://github.com/ushahidi/SMSsync">master branch</a> open for
                        commit/contributions for next version of SMSsync
                    </li>
                </ul>
                <a href="releases">More</a>
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Tools</h3>

                <p>
                    SMSsync uses <a href="http://git-scm.com/">GIT</a> for source control management
                    and
                    the code is hosted on <a
                        href="https://github.com/ushahidi/SMSSync/">github.com.</a>
                </p>

                <p>
                    It uses <a href="http://github.com">Github</a> for project management and for
                    tracking
                    <a href="https://github.com/ushahidi/SMSsync/issues/">bugs and issues</a>. <a
                        href="https://www.transifex.net/projects/p/smssync/resource/stringsxml/">Transifex</a>,
                    the free and open source localization tool, is used for translations.
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Translations</h3>

                <p>
                    SMSsync, as of now, has been completely translated into 5 languages. We use
                    Transifex for hosting our strings and to make translation much easier.

                <p>To help translate SMSsync into other languages, simply headover to
                    <a href="https://www.transifex.net/projects/p/smssync/resource/stringsxml/">transifex.net</a>,
                    add a language if it's not there or contribute to the incomplete translations.
                </p>
            </div>
        </div>
        <!--end row-->
    </section>
</div>
{{ partial "container-footer.html" . }}
{{ partial "footer-scripts.html" . }}
{{ partial "changelog-mustache-scripts.html"}}
{{ partial "google-analytics.html" . }}
{{ partial "footer-end-tags.html" . }}
